@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

#occhi1 {
  animation: blink 0.8s infinite;
}
#occhi2 @keyframes blink2 {
  100% { opacity: 1; }
  0% { opacity: 1; }
  }
